@model LexiconMVCData.ViewModels.IdentityManagerViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="m-3 w-25">
    <h2>Create new Role</h2>
    <form class="form" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <input type="submit" value="Add Role" class="btn btn-primary mb-2 mr-sm-2" />
        </div>
    </form>
</div>

<h2>Roles</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RolesList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>

<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>
                Roles
            </th>
            <th>
                Add role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserWithRolesList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @string.Join(" , ", item.Roles.ToList())
            </td>
            <td>
                <div>
                    <form asp-action="Edit" method="get">
                        <input type="hidden" asp-for="@item.Id" />
                        <input class="btn btn-primary" type="submit" value="Edit roles" asp-controller="IdentityManager" asp-action="Edit" asp-route-id="@item.Id" />
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

<hr class="mt-5">
